<div class="playlist">
    <!----------------------------------------->
    <section class="playlist-header">
        <img class="playlist-cover" src="/img/playlist.png" alt="">
        <div  class="playlist-details" >
            <small>PLAYLIST</small>
            <span class="playlist-title"><%= playlist?.name || '-' %></span>
            <span class="playlist-owner">@<%= playlist?.user?.username || '-' %></span>
        </div>
        <a class="btn-edit" href="/playlist-register/1">
            <img src="/icons/pen.svg" alt="">
        </a>
    </section>
    <!----------------------------------------->
    <section class="playlist-song">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>TITLE</th>
                    <th>ALBUM</th>
                    <th>DURATION</th>
                </tr>
            </thead>
            <tbody id="table_data">
            <% playlist?.songs.forEach((song, index) => { %>
                <tr data-index="<%= index %>">
                    <td><%= index + 1 %></td>
                    <td class="title-item">
                        <img src="<%= song.image_path || '/img/song.png' %>" alt="<%= song.title || '-' %>">
                        <span class="title"><%= song.title || '-' %></span>
                        <span class="artist"><%= song.artist?.name || '-' %></span>
                    </td>
                    <td><%= song.album?.title || '-' %></td>
                    <td><%= 0 %></td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </section>
    <!----------------------------------------->
    <section class="playlist-video">
        <video id="video" poster="/img/music.webp" src="" controls></video>
    </section>
    <!----------------------------------------->
</div>

<script>
  const songs = <%- JSON.stringify(playlist?.songs || []) %>;
</script>
<script src="/js/playlist.js" type="module"></script>